In [407]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from fastai.structured import train_cats, apply_cats, proc_df

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
DIR = "../../datasets/kaggle_titanic/"
print(os.listdir(DIR))

# Any results you write to the current directory are saved as output.

['train.csv', 'test.csv', 'gender_submission.csv']

In [408]:
train_raw = pd.read_csv(DIR + 'train.csv')
test_raw = pd.read_csv(DIR + 'test.csv')
data = train.append(test)

/home/ferda/.local/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [409]:
print('Train has {} files and {} columns'.format(train_raw.shape[0], train_raw.shape[1]))

Train has 891 files and 12 columns

In [410]:
display(train_raw.tail())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [411]:
train_raw.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [412]:
train_raw.drop("Name", axis=1, inplace=True)

In [413]:
train = train_raw.copy()

In [414]:
train_cats(train_raw)
apply_cats(test_raw, train_raw)

In [415]:
#??apply_cats

In [433]:
??proc_df

In [417]:
train_raw.Sex = train_raw.Sex.cat.codes
train_raw.Ticket = train_raw.Ticket.cat.codes
train_raw.Cabin = train_raw.Cabin.cat.codes
train_raw.Embarked = train_raw.Embarked.cat.codes

In [418]:
df, y, nas = proc_df(train_raw, 'Survived')

In [419]:
m = RandomForestClassifier(n_jobs=-1)

In [420]:
m.fit(df, y)
m.score(df, y)

/home/ferda/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9865319865319865

In [421]:
test_raw.Sex = test_raw.Sex.cat.codes
test_raw.Ticket = test_raw.Ticket.cat.codes
test_raw.Cabin = test_raw.Cabin.cat.codes
test_raw.Embarked = test_raw.Embarked.cat.codes

In [437]:
df.replace([np.inf, -np.inf], np.nan)
test_raw.fillna(-1, inplace = True)
test_raw.dropna(inplace=True)

In [439]:
test_raw["Age_na"] = False
display(test_raw)

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na
0,892,3,"Kelly, Mr. James",1,34.5,0,0,-1,7.8292,-1,1,False
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,-1,7.0000,-1,2,False
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,-1,9.6875,-1,1,False
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,-1,8.6625,-1,2,False
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,251,12.2875,-1,2,False
5,897,3,"Svensson, Mr. Johan Cervin",1,14.0,0,0,-1,9.2250,-1,2,False
6,898,3,"Connolly, Miss. Kate",0,30.0,0,0,-1,7.6292,-1,1,False
7,899,2,"Caldwell, Mr. Albert Francis",1,26.0,1,1,158,29.0000,-1,2,False
8,900,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",0,18.0,0,0,-1,7.2292,-1,0,False
9,901,3,"Davies, Mr. John Samuel",1,21.0,2,0,519,24.1500,-1,2,False
10,902,3,"Ilieff, Mr. Ylio",1,-1.0,0,0,-1,7.8958,-1,2,False
11,903,1,"Jones, Mr. Charles Cresson",1,46.0,0,0,-1,26.0000,-1,2,False
12,904,1,"Snyder, Mrs. John Pillsbury (Nelle Stevenson)",0,23.0,1,0,-1,82.2667,-1,2,False
13,905,2,"Howard, Mr. Benjamin",1,63.0,1,0,-1,26.0000,-1,2,False
14,906,1,"Chaffee, Mrs. Herbert Fuller (Carrie Constance...",0,47.0,1,0,678,61.1750,122,2,False
15,907,2,"del Carlo, Mrs. Sebastiano (Argenia Genovesi)",0,24.0,1,0,633,27.7208,-1,0,False
16,908,2,"Keane, Mr. Daniel",1,35.0,0,0,-1,12.3500,-1,1,False
17,909,3,"Assaf, Mr. Gerios",1,21.0,0,0,-1,7.2250,-1,0,False
18,910,3,"Ilmakangas, Miss. Ida Livija",0,27.0,1,0,-1,7.9250,-1,2,False
19,911,3,"Assaf Khalil, Mrs. Mariana (Miriam"")""",0,45.0,0,0,-1,7.2250,-1,0,False
20,912,1,"Rothschild, Mr. Martin",1,55.0,1,0,599,59.4000,-1,0,False
21,913,3,"Olsen, Master. Artur Karl",1,9.0,0,1,-1,3.1708,-1,2,False
22,914,1,"Flegenheim, Mrs. Alfred (Antoinette)",0,-1.0,0,0,-1,31.6833,-1,2,False
23,915,1,"Williams, Mr. Richard Norris II",1,21.0,0,1,595,61.3792,-1,0,False
24,916,1,"Ryerson, Mrs. Arthur Larned (Emily Maria Borie)",0,48.0,1,3,602,262.3750,35,0,False
25,917,3,"Robins, Mr. Alexander A",1,50.0,1,0,537,14.5000,-1,2,False
26,918,1,"Ostby, Miss. Helene Ragnhild",0,22.0,0,1,29,61.9792,-1,0,False
27,919,3,"Daher, Mr. Shedid",1,22.5,0,0,-1,7.2250,-1,0,False
28,920,1,"Brady, Mr. John Bertram",1,41.0,0,0,-1,30.5000,-1,2,False
29,921,3,"Samaan, Mr. Elias",1,-1.0,2,0,190,21.6792,-1,0,False
...,...,...,...,...,...,...,...,...,...,...,...,...
388,1280,3,"Canavan, Mr. Patrick",1,21.0,0,0,-1,7.7500,-1,1,False
389,1281,3,"Palsson, Master. Paul Folke",1,6.0,3,1,395,21.0750,-1,2,False
390,1282,1,"Payne, Mr. Vivian Ponsonby",1,23.0,0,0,67,93.5000,-1,2,False
391,1283,1,"Lines, Mrs. Ernest H (Elizabeth Lindsey James)",0,51.0,0,1,591,39.4000,99,2,False
392,1284,3,"Abbott, Master. Eugene Joseph",1,13.0,0,2,551,20.2500,-1,2,False
393,1285,2,"Gilbert, Mr. William",1,47.0,0,0,-1,10.5000,-1,2,False
394,1286,3,"Kink-Heilmann, Mr. Anton",1,29.0,3,1,271,22.0250,-1,2,False
395,1287,1,"Smith, Mrs. Lucien Philip (Mary Eloise Hughes)",0,18.0,1,0,-1,60.0000,-1,2,False
396,1288,3,"Colbert, Mr. Patrick",1,24.0,0,0,-1,7.2500,-1,1,False
397,1289,1,"Frolicher-Stehli, Mrs. Maxmillian (Margaretha ...",0,48.0,1,1,74,79.2000,29,0,False
398,1290,3,"Larsson-Rondberg, Mr. Edvard A",1,22.0,0,0,-1,7.7750,-1,2,False
399,1291,3,"Conlon, Mr. Thomas Henry",1,31.0,0,0,-1,7.7333,-1,1,False
400,1292,1,"Bonnell, Miss. Caroline",0,30.0,0,0,453,164.8667,76,2,False
401,1293,2,"Gale, Mr. Harry",1,38.0,1,0,230,21.0000,-1,2,False
402,1294,1,"Gibson, Miss. Dorothy Winifred",0,22.0,0,1,-1,59.4000,-1,0,False
403,1295,1,"Carrau, Mr. Jose Pedro",1,17.0,0,0,25,47.1000,-1,2,False
404,1296,1,"Frauenthal, Mr. Isaac Gerald",1,43.0,1,0,-1,27.7208,-1,0,False
405,1297,2,"Nourney, Mr. Alfred (Baron von Drachstedt"")""",1,20.0,0,0,-1,13.8625,-1,0,False
406,1298,2,"Ware, Mr. William Jeffery",1,23.0,1,0,-1,10.5000,-1,2,False
407,1299,1,"Widener, Mr. George Dunton",1,50.0,1,1,27,211.5000,-1,0,False
408,1300,3,"Riordan, Miss. Johanna Hannah""""",0,-1.0,0,0,-1,7.7208,-1,1,False
409,1301,3,"Peacock, Miss. Treasteall",0,3.0,1,1,-1,13.7750,-1,2,False
410,1302,3,"Naughton, Miss. Hannah",0,-1.0,0,0,-1,7.7500,-1,1,False
411,1303,1,"Minahan, Mrs. William Edward (Lillian E Thorpe)",0,37.0,1,0,92,90.0000,78,1,False
412,1304,3,"Henriksson, Miss. Jenny Lovisa",0,28.0,0,0,-1,7.7750,-1,2,False
413,1305,3,"Spector, Mr. Woolf",1,-1.0,0,0,-1,8.0500,-1,2,False
414,1306,1,"Oliva y Ocana, Dona. Fermina",0,39.0,0,0,611,108.9000,-1,0,False
415,1307,3,"Saether, Mr. Simon Sivertsen",1,38.5,0,0,-1,7.2500,-1,2,False
416,1308,3,"Ware, Mr. Frederick",1,-1.0,0,0,-1,8.0500,-1,2,False
417,1309,3,"Peter, Master. Michael J",1,-1.0,1,1,196,22.3583,-1,0,False

In [440]:
#test_raw.drop("Name", axis=1, inplace=True)
m.predict(test_raw.drop("Name", axis=1))

array([0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 0,
       1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0,
       1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 0, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 1, 1, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 0, 1,
       1, 1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 1, 1,
       0, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 0, 1, 0, 0,
       1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 1, 0, 1, 1])