In [754]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from fastai.structured import train_cats, apply_cats, proc_df, fix_missing

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list the files in the input directory

import os
DIR = "../../datasets/kaggle_titanic/"
print(os.listdir(DIR))

# Any results you write to the current directory are saved as output.

['train.csv', 'test.csv', 'gender_submission.csv']

In [755]:
train_raw = pd.read_csv(DIR + 'train.csv')
test_raw = pd.read_csv(DIR + 'test.csv')
data = train.append(test)

/home/ferda/.local/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [756]:
print('Train has {} files and {} columns'.format(train_raw.shape[0], train_raw.shape[1]))

Train has 891 files and 12 columns

In [757]:
display(train_raw.tail())

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [758]:
train_raw.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [759]:
train_raw.drop("Name", axis=1, inplace=True)

In [760]:
train = train_raw.copy()

In [761]:
train_cats(train_raw)
apply_cats(test_raw, train_raw)

In [762]:
#??apply_cats

In [763]:
#??fix_missing

In [764]:
train_raw.Sex = train_raw.Sex.cat.codes
train_raw.Ticket = train_raw.Ticket.cat.codes
train_raw.Cabin = train_raw.Cabin.cat.codes
train_raw.Embarked = train_raw.Embarked.cat.codes
train_raw["Ticket"].replace({-1 : np.nan}, inplace = True)
train_raw["Cabin"].replace({-1 : np.nan}, inplace = True)
train_raw["Embarked"].replace({-1 : np.nan}, inplace = True)

In [765]:
df, y, nas = proc_df(train_raw, 'Survived')

In [766]:
#train_cats(df)
#df.Sex = df.Sex.cat.codes
#df.Ticket = df.Ticket.cat.codes
#df.Cabin = df.Cabin.cat.codes
#df.Embarked = df.Embarked.cat.codes
#df

In [767]:
#    for n,c in df.items(): na_dict = fix_missing(df, c, n, na_dict)
#    if do_scale: mapper = scale_vars(df, mapper)
#    for n,c in df.items(): numericalize(df, c, n, max_n_cat)
#    df = pd.get_dummies(df, dummy_na=True)
#    df = pd.concat([ignored_flds, df], axis=1)
#    res = [df, y, na_dict]
#    if do_scale: res = res + [mapper]
#    return res

In [768]:
df['Fare_na'] = False
df['Ticket_na'] = False

In [769]:
m = RandomForestClassifier(n_jobs=-1)

In [770]:
m.fit(df, y)
m.score(df, y)

/home/ferda/.local/lib/python3.6/site-packages/sklearn/ensemble/forest.py:248: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

0.9809203142536476

In [771]:
test_raw.Sex = test_raw.Sex.cat.codes
test_raw.Ticket = test_raw.Ticket.cat.codes
test_raw.Cabin = test_raw.Cabin.cat.codes
test_raw.Embarked = test_raw.Embarked.cat.codes
test_raw["Ticket"].replace({-1 : np.nan}, inplace = True)
test_raw["Cabin"].replace({-1 : np.nan}, inplace = True)
test_raw["Embarked"].replace({-1 : np.nan}, inplace = True)

In [772]:
for n,c in test_raw.items(): fix_missing(test_raw, c, n, {})

In [773]:
test_raw['Embarked_na'] = False

In [774]:
#test_raw["Age_na"] = False
test_raw.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na,Ticket_na,Fare_na,Cabin_na,Embarked_na
0,892,3,"Kelly, Mr. James",1,34.5,0,0,330.0,7.8292,78.0,1,False,True,False,True,False
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",0,47.0,1,0,330.0,7.0000,78.0,2,False,True,False,True,False
2,894,2,"Myles, Mr. Thomas Francis",1,62.0,0,0,330.0,9.6875,78.0,1,False,True,False,True,False
3,895,3,"Wirz, Mr. Albert",1,27.0,0,0,330.0,8.6625,78.0,2,False,True,False,True,False
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",0,22.0,1,1,251.0,12.2875,78.0,2,False,False,False,True,False

In [775]:
df.head()

,PassengerId,Pclass,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Age_na,Cabin_na,Embarked_na,Fare_na,Ticket_na
0,1,3,1,22.0,1,0,523,7.2500,75.0,2.0,False,True,False,False,False
1,2,1,0,38.0,1,0,596,71.2833,81.0,0.0,False,False,False,False,False
2,3,3,0,26.0,0,0,669,7.9250,75.0,2.0,False,True,False,False,False
3,4,1,0,35.0,1,0,49,53.1000,55.0,2.0,False,False,False,False,False
4,5,3,1,35.0,0,0,472,8.0500,75.0,2.0,False,True,False,False,False

In [776]:
#test_raw.drop("Name", axis=1, inplace=True)
prediction = m.predict(test_raw.drop("Name", axis=1))

In [777]:
result = pd.DataFrame({"PassengerId": test_raw["PassengerId"], "Survived": prediction})
result.to_csv("result.csv", index=False)